<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container-fluid header-container">

    <div class="container btn-s d-none d-md-flex justify-content-end align-items-end pb-4">
        <button id="speaker-slash" class="video-btn"><i class="ph ph-speaker-slash"></i></button>
        <button id="speaker-high" class="video-btn d-none"><i class="ph ph-speaker-high"></i></button>
        <button id="arrows-out" class="video-btn"><i class="ph ph-arrows-out"></i></button>
    </div>
    <div class="container content d-flex flex-column justify-content-between">
        <div class="row py-4">
            <div class="col">
                <img class="mx-3" src="assets/images/logo.svg">
                <span class="text-white fs-3">دنتیست پارتی</span>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
                <span class="text-white fs-3" dir="ltr">021 9100 3120</span>
                <i class="ph ph-phone-call text-white mx-2"></i>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-12 col-md-6 mx-auto text-center text-white">
                <small class="fs-6">ویژه دنتیست پارتی ۱۴۰۲</small>
                <div class="discount-box fs-4 my-3">۴۰٪ تخفیف</div>
                <h1>نرم افزار مدیریت دندانپزشکی سیترا</h1>
                <div class="mb-3">
                    <small>اولین نرم افزار CRM مخصوص دندانپزشکی، طراحی و تست شده زیر نظر متخصصین حوزه دندانپزشکی
                        کشور.</small>
                </div>
                <form>
                    <div class="input-box">
                        <input type="tel" placeholder="... شماره موبایل خود را وارد کنید" class="text-start text-white">
                        <button class="text-white">
                            <i class="ph ph-gift mx-2"></i>
<!--                            <span>دریافت تخفیف سیترا</span>-->
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!--<div class="container-fluid border-bottom">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <ul class="breadcrumb my-3">-->
<!--                    <li class="breadcrumb-item"><a>سیترا</a></li>-->
<!--                    <li class="breadcrumb-item"><a>نمایشگاه ها</a></li>-->
<!--                    <li class="breadcrumb-item"><a>دنتیست پارتی</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container">
    <div class="row my-3">
        <div class="col-8 mx-auto text-center">
            <h3>موضوعات مورد بحث</h3>
            <p>رویدادی در جهت بهبود خدمات کلینیک های دندان پزشکی</p>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-md-3 my-2">
                    <div class="subject-box">
                        <div class="icon-box mb-4"><i class="ph ph-face-mask mx-2"></i></div>
                        <h5>تحلیل رفتار مراجعین</h5>
                    </div>
                </div>
                <div class="col-6 col-md-3 my-2">
                    <div class="subject-box">
                        <div class="icon-box mb-4"><i class="ph ph-megaphone-simple mx-2"></i></div>
                        <h5>دنتال مارکتینگ</h5>
                    </div>
                </div>
                <div class="col-6 col-md-3 my-2">
                    <div class="subject-box">
                        <div class="icon-box mb-4"><i class="ph ph-student mx-2"></i></div>
                        <h5>آگاهی و آموزش بهینه تر</h5>
                    </div>
                </div>
                <div class="col-6 col-md-3 my-2">
                    <div class="subject-box">
                        <div class="icon-box mb-4"><i class="ph ph-magnet-straight mx-2"></i></div>
                        <h5>افزایش درآمد</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid gradient-video py-5">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto text-center">
                <h3>ویدیو های دنتیست پارتی ۱۴۰۲</h3>
                <p>آگاهی و آموزش بهینه تر، افزایش درآمد بیشتر، هوشمند تر شدن و اطلاع از تحلیل رفتار مراجعین و
                    بیماران</p>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6 my-2">
                        <div class="video-box">
                            <img src="assets/images/Screenshot%202023-07-10%20at%2020.55.51.png" width="100%">
                            <div class="bg-gr"></div>
                            <div class="play-btn d-flex align-items-center">
                                <div class="icon-box"><i class="ph-fill ph-play mx-2"></i></div>
                            </div>
                            <div class="data-box d-flex justify-content-between align-items-end text-white">
                                <div class="data">
                                    <div class="person d-flex align-items-center mb-2">
                                        <img src="assets/images/person.jpeg" height="45px" width="45px" class="me-3">
                                        <span class="fw-bolder">علی خوبانی</span>
                                    </div>
                                    <p class="m-0">سطح بهره وری و نکاه داشت پرسنل شما با مراجعین شما است!</p>
                                </div>
                                <div class="time d-flex align-items-center">
                                    <i class="ph ph-timer me-1 fs-4"></i>
                                    <div>۳ دقیقه</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 my-2">
                        <div class="video-box">
                            <img src="assets/images/Screenshot%202023-07-10%20at%2020.55.51.png" width="100%">
                            <div class="bg-gr"></div>
                            <div class="play-btn d-flex align-items-center">
                                <div class="icon-box"><i class="ph-fill ph-play mx-2"></i></div>
                            </div>
                            <div class="data-box d-flex justify-content-between align-items-end text-white">
                                <div class="data">
                                    <div class="person d-flex align-items-center mb-2">
                                        <img src="assets/images/person.jpeg" height="45px" width="45px" class="me-3">
                                        <span class="fw-bolder">علی خوبانی</span>
                                    </div>
                                    <p class="m-0">سطح بهره وری و نکاه داشت پرسنل شما با مراجعین شما است!</p>
                                </div>
                                <div class="time d-flex align-items-center">
                                    <i class="ph ph-timer me-1 fs-4"></i>
                                    <div>۳ دقیقه</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 my-2">
                        <div class="video-box">
                            <img src="assets/images/Screenshot%202023-07-10%20at%2020.55.51.png" width="100%">
                            <div class="bg-gr"></div>
                            <div class="play-btn d-flex align-items-center">
                                <div class="icon-box"><i class="ph-fill ph-play mx-2"></i></div>
                            </div>
                            <div class="data-box d-flex justify-content-between align-items-end text-white">
                                <div class="data">
                                    <div class="person d-flex align-items-center mb-2">
                                        <img src="assets/images/person.jpeg" height="45px" width="45px" class="me-3">
                                        <span class="fw-bolder">علی خوبانی</span>
                                    </div>
                                    <p class="m-0">سطح بهره وری و نکاه داشت پرسنل شما با مراجعین شما است!</p>
                                </div>
                                <div class="time d-flex align-items-center">
                                    <i class="ph ph-timer me-1 fs-4"></i>
                                    <div>۳ دقیقه</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 my-2">
                        <div class="video-box">
                            <img src="assets/images/Screenshot%202023-07-10%20at%2020.55.51.png" width="100%">
                            <div class="bg-gr"></div>
                            <div class="play-btn d-flex align-items-center">
                                <div class="icon-box"><i class="ph-fill ph-play mx-2"></i></div>
                            </div>
                            <div class="data-box d-flex justify-content-between align-items-end text-white">
                                <div class="data">
                                    <div class="person d-flex align-items-center mb-2">
                                        <img src="assets/images/person.jpeg" height="45px" width="45px" class="me-3">
                                        <span class="fw-bolder">علی خوبانی</span>
                                    </div>
                                    <p class="m-0">سطح بهره وری و نکاه داشت پرسنل شما با مراجعین شما است!</p>
                                </div>
                                <div class="time d-flex align-items-center">
                                    <i class="ph ph-timer me-1 fs-4"></i>
                                    <div>۳ دقیقه</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row my-3">
        <div class="col-8 mx-auto text-center">
            <h3>پزشک‌های همراه</h3>
            <p>با حضور دندانپزشکان برتر کشور و کلینیک‌های برجسته‌ی والا، آوا ، کربن ، سریتا و ...</p>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-md-3 my-2">
                    <div class="dentist-box">
                        <div class="image-box mb-4">
                            <img src="assets/images/person.jpeg" width="100%" height="100%">
                        </div>
                        <h5 class="fs-5">تحلیل رفتار مراجعین</h5>
                        <p class="fs-6 mb-0">با مالکیت کلینیک ۱۲ یونیت</p>
                        <small>استان تهران</small>
                    </div>
                </div>
                <div class="col-6 col-md-3 my-2">
                    <div class="dentist-box">
                        <div class="image-box mb-4">
                            <img src="assets/images/person.jpeg" width="100%" height="100%">
                        </div>
                        <h5 class="fs-5">تحلیل رفتار مراجعین</h5>
                        <p class="fs-6 mb-0">با مالکیت کلینیک ۱۲ یونیت</p>
                        <small>استان تهران</small>
                    </div>
                </div>
                <div class="col-6 col-md-3 my-2">
                    <div class="dentist-box">
                        <div class="image-box mb-4">
                            <img src="assets/images/person.jpeg" width="100%" height="100%">
                        </div>
                        <h5 class="fs-5">تحلیل رفتار مراجعین</h5>
                        <p class="fs-6 mb-0">با مالکیت کلینیک ۱۲ یونیت</p>
                        <small>استان تهران</small>
                    </div>
                </div>
                <div class="col-6 col-md-3 my-2">
                    <div class="dentist-box">
                        <div class="image-box mb-4">
                            <img src="assets/images/person.jpeg" width="100%" height="100%">
                        </div>
                        <h5 class="fs-5">تحلیل رفتار مراجعین</h5>
                        <p class="fs-6 mb-0">با مالکیت کلینیک ۱۲ یونیت</p>
                        <small>استان تهران</small>
                    </div>
                </div>
                <div class="col-6 col-md-3 my-2">
                    <div class="dentist-box">
                        <div class="image-box mb-4">
                            <img src="assets/images/person.jpeg" width="100%" height="100%">
                        </div>
                        <h5 class="fs-5">تحلیل رفتار مراجعین</h5>
                        <p class="fs-6 mb-0">با مالکیت کلینیک ۱۲ یونیت</p>
                        <small>استان تهران</small>
                    </div>
                </div>
                <div class="col-6 col-md-3 my-2">
                    <div class="dentist-box">
                        <div class="image-box mb-4">
                            <img src="assets/images/person.jpeg" width="100%" height="100%">
                        </div>
                        <h5 class="fs-5">تحلیل رفتار مراجعین</h5>
                        <p class="fs-6 mb-0">با مالکیت کلینیک ۱۲ یونیت</p>
                        <small>استان تهران</small>
                    </div>
                </div>
                <div class="col-6 col-md-3 my-2">
                    <div class="dentist-box">
                        <div class="image-box mb-4">
                            <img src="assets/images/person.jpeg" width="100%" height="100%">
                        </div>
                        <h5 class="fs-5">تحلیل رفتار مراجعین</h5>
                        <p class="fs-6 mb-0">با مالکیت کلینیک ۱۲ یونیت</p>
                        <small>استان تهران</small>
                    </div>
                </div>
                <div class="col-6 col-md-3 my-2">
                    <div class="dentist-box">
                        <div class="image-box mb-4">
                            <img src="assets/images/person.jpeg" width="100%" height="100%">
                        </div>
                        <h5 class="fs-5">تحلیل رفتار مراجعین</h5>
                        <p class="fs-6 mb-0">با مالکیت کلینیک ۱۲ یونیت</p>
                        <small>استان تهران</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h4 class="font text-center">پاسخ به سوالات متداول</h4>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button font-according-title" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    دنتیست پارتی چیست؟
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body font-according">
                    دنتیست پارتی یکی از اولین برند رویداد های صنعت دنداپزشکی در بخش dental marketing و dental management
                    میباشد که با هدف انتقال دانش ، آگاهی و آموزش بهینه تر، افزایش درآمد بیشتر ، هوشمندتر شدن و اطلاع از
                    تحلیل رفتار مراجعین و بیماران توسط دکتر علی خوبانی و مجموعه نرم افزاری سیترا پای ریزی و در دسترس
                    جامعه دندانپزشکی قرار گرفت. از مهمترین دانش پذیران این دوره میتوان از کلینک های والا، آوا ، کربن ،
                    سریتا و دیگر دندانپزشکان برتر نام برد. آموزش بیش 200 دندانپزشک در حوزه های مذکور و دیدن نتایج عالی
                    از دندانپزشکان نام برده از مهمترین دست آورد های مجموعه نرم افزاری سیترا و دکتر علی خوبانی میباشند.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button font-according-title collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    هدف دنتیست پارتی چیست؟
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body font-according">
                    دنتیست پارتی یکی از اولین برند رویداد های صنعت دنداپزشکی در بخش dental marketing و dental management
                    میباشد که با هدف انتقال دانش ، آگاهی و آموزش بهینه تر، افزایش درآمد بیشتر ، هوشمندتر شدن و اطلاع از
                    تحلیل رفتار مراجعین و بیماران توسط دکتر علی خوبانی و مجموعه نرم افزاری سیترا پای ریزی و در دسترس
                    جامعه دندانپزشکی قرار گرفت. از مهمترین دانش پذیران این دوره میتوان از کلینک های والا، آوا ، کربن ،
                    سریتا و دیگر دندانپزشکان برتر نام برد. آموزش بیش 200 دندانپزشک در حوزه های مذکور و دیدن نتایج عالی
                    از دندانپزشکان نام برده از مهمترین دست آورد های مجموعه نرم افزاری سیترا و دکتر علی خوبانی میباشند.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button font-according-title collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    دنتیست پارتی درباره چه موضوعاتی است؟
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body font-according">
                    دنتیست پارتی یکی از اولین برند رویداد های صنعت دنداپزشکی در بخش dental marketing و dental management
                    میباشد که با هدف انتقال دانش ، آگاهی و آموزش بهینه تر، افزایش درآمد بیشتر ، هوشمندتر شدن و اطلاع از
                    تحلیل رفتار مراجعین و بیماران توسط دکتر علی خوبانی و مجموعه نرم افزاری سیترا پای ریزی و در دسترس
                    جامعه دندانپزشکی قرار گرفت. از مهمترین دانش پذیران این دوره میتوان از کلینک های والا، آوا ، کربن ،
                    سریتا و دیگر دندانپزشکان برتر نام برد. آموزش بیش 200 دندانپزشک در حوزه های مذکور و دیدن نتایج عالی
                    از دندانپزشکان نام برده از مهمترین دست آورد های مجموعه نرم افزاری سیترا و دکتر علی خوبانی میباشند.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button font-according-title collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    تاریخ برگزاری دنتیست پارتی چه زمانی است؟
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body font-according">
                    دنتیست پارتی یکی از اولین برند رویداد های صنعت دنداپزشکی در بخش dental marketing و dental management
                    میباشد که با هدف انتقال دانش ، آگاهی و آموزش بهینه تر، افزایش درآمد بیشتر ، هوشمندتر شدن و اطلاع از
                    تحلیل رفتار مراجعین و بیماران توسط دکتر علی خوبانی و مجموعه نرم افزاری سیترا پای ریزی و در دسترس
                    جامعه دندانپزشکی قرار گرفت. از مهمترین دانش پذیران این دوره میتوان از کلینک های والا، آوا ، کربن ،
                    سریتا و دیگر دندانپزشکان برتر نام برد. آموزش بیش 200 دندانپزشک در حوزه های مذکور و دیدن نتایج عالی
                    از دندانپزشکان نام برده از مهمترین دست آورد های مجموعه نرم افزاری سیترا و دکتر علی خوبانی میباشند.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button font-according-title collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                    چگونه می‌توان در دنتیست پارتی شرکت کرد؟
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body font-according">
                    دنتیست پارتی یکی از اولین برند رویداد های صنعت دنداپزشکی در بخش dental marketing و dental management
                    میباشد که با هدف انتقال دانش ، آگاهی و آموزش بهینه تر، افزایش درآمد بیشتر ، هوشمندتر شدن و اطلاع از
                    تحلیل رفتار مراجعین و بیماران توسط دکتر علی خوبانی و مجموعه نرم افزاری سیترا پای ریزی و در دسترس
                    جامعه دندانپزشکی قرار گرفت. از مهمترین دانش پذیران این دوره میتوان از کلینک های والا، آوا ، کربن ،
                    سریتا و دیگر دندانپزشکان برتر نام برد. آموزش بیش 200 دندانپزشک در حوزه های مذکور و دیدن نتایج عالی
                    از دندانپزشکان نام برده از مهمترین دست آورد های مجموعه نرم افزاری سیترا و دکتر علی خوبانی میباشند.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-md mt-5 mx-auto">
    <div class="row level">
        <div class="col-6 col-md-3 my-3 d-flex flex-column align-items-center justify-content-center border-end">
            <img src="assets/images/dental-record.png.svg" width="48" height="48" alt="">
            <span class="counter-number plus" data-count="30">0</span>
            <span>آموزش مراکز درمانی</span>
        </div>
        <div class="col-6 col-md-3 my-3 d-flex flex-column align-items-center justify-content-center border-end">
            <img src="assets/images/tools-150x150.png.svg" width="48" height="48" alt="">
            <span class="counter-number plus" data-count="200">0</span>
            <span>پزشک فعال</span>
        </div>
        <div class="col-6 col-md-3 my-3 d-flex flex-column align-items-center justify-content-center border-end">
            <img src="assets/images/clinic-1.png.svg" width="48" height="48" alt="">
            <span class="counter-number plus" data-count="100">0</span>
            <span>کلینیک فعال</span>
        </div>
        <div class="col-6 col-md-3 my-3 d-flex flex-column align-items-center justify-content-center ">
            <img src="assets/images/Dentist-Chair-150x150.png.svg" width="48" height="48" alt="">
            <span class="counter-number plus" data-count="1100">0</span>
            <span>مشاوره به دندان‌پزشکان</span>
        </div>
    </div>
</div>
<div class="container-fluid border-top mt-5">
    <div class="container mt-5">
        <div class="row d-flex justify-content-between">
            <div class="col">
                <span class="text-f">دنتیست پارتی</span>
            </div>
            <div class="col text-end">
                <a id="back-to-top" href="#" class="text-decoration-none btn-light back-to-top button-up" role="button">
                    <span>بازگشت به بالا</span>
                    <i class="ph ph-caret-up ms-2"></i>
                </a>
            </div>
        </div>
        <div class="row d-flex justify-content-between mt-5">
            <div class="col-md-7 d-flex justify-content-start">
                <div class="row">
                    <div class="col-12 d-flex flex-column flex-md-row justify-content-between p-2">
                        <div class="border-end pe-2">
                            <span><i class="ph ph-phone-call mx-2"></i><span dir="ltr">02191003120</span></span>
                        </div>
                        <div>
                            <span><i class="ph ph-map-pin mx-2"></i> تهران، خیابان ولیعصر، نبش خیابان شهید فیاضی(فرشته)، پلاک ۱۹۲</span>
                        </div>
                        <div>
                            <span><i class="ph ph-envelope-simple mx-2"></i><span dir="ltr">info@sitra.com</span></span>
                        </div>
                    </div>
                    <span class="text-footer col-12">از‌ مطالب‌ این‌ وب‌سایت‌ می‌توانید برای‌ مقاصد غیرتجاری‌ و با ذکر منبع‌ استفاده‌نمایید.</span>
                </div>
            </div>
            <!--            <div class="col-12 col-md-3 my-3 justify-content-center d-flex">-->
            <!--                <img class="mx-2" src="assets/images/Frame%20427320744.png" alt="">-->
            <!--                <img class="mx-2" src="assets/images/Frame%20427320745.png" alt="">-->
            <!--                <img class="mx-2" src="assets/images/Frame%20427320746.png" alt="">-->
            <!--            </div>-->
        </div>
        <div class="row footer-box col-12 d-flex justify-content-center align-items-center mx-auto my-4">
            <div class="col-12 col-md-6 d-flex justify-content-center mb-4">
                <img src="assets/images/Group%202.svg">
                <span class="text-t-f2 mx-3">
            با دنتیست پارتی در شبکه‌های اجتماعی همراه باشید.
                    <span class="d-block text-t-f">
                آموزش بیش ۲۰۰ دندانپزشک در حوزه‌های مدیریت دندانپزشکی و دیجیتال مارکتینگ
            </span></span>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex justify-content-evenly align-items-center text-center">
                    <div class="box-icon d-flex justify-content-center align-items-center square">
                        <img src="assets/images/Twitter%20-%20Original.png" alt="">
                    </div>
                    <div class="box-icon d-flex justify-content-center align-items-center square">
                        <img src="assets/images/Telegram%20-%20Original.png" alt="">
                    </div>
                    <div class="box-icon d-flex justify-content-center align-items-center square">
                        <img src="assets/images/LinkedIn%20-%20Original.png" alt="">
                    </div>
                    <div class="box-icon d-flex justify-content-center align-items-center square">
                        <img src="assets/images/Instagram%20-%20Original.png" alt="">
                    </div>
                    <div class="box-icon d-flex justify-content-center align-items-center square">
                        <img src="assets/images/Facebook%20-%20Original.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>